<header>
    <nav>
        <a href="/" class="brand-logo center">
            <i class="material-icons">local_movies</i>My Cool Movie Trending App
        </a>
    </nav>
</header>
<main class="container">
